html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: darkorange;
}

/*-----------------------------------------MOVIES PAGE---------------------------------------------*/

.page-heading {
    text-align: center;
    font-size: 3em;
    margin: 50px 0;
    color: papayawhip;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    font-family: 'Arial', sans-serif;
}

.movies-header {
    background-image: url('https://static.vecteezy.com/system/resources/thumbnails/022/957/853/small/silhouette-of-the-bloody-filmstrip-sign-for-movie-icon-symbol-with-genre-horror-thriller-gore-sadistic-splatter-slasher-mystery-scary-or-halloween-poster-film-movie-format-png.png');
    background-repeat: no-repeat;
    background-position: center;
    
}

    .movies-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 20px;
    }

.movie {
    background-color: wheat;
    width: 30%;
    margin: 10px;
    border: 1px solid #ddd; 
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    padding: 10px;
}

.movie img {
  width: 100%;
  border-radius: 8px;
}

.movie-title {
  margin-top: 10px;
  padding: 10px; /* Increased padding */
  font-size: 20px;
  font-weight: bold;
}

.info {
    border-bottom: 1px solid #9f9f9f91;
    padding: 5px;
}

.movie-info {
    margin-top: 5px;
    padding: 10px; /* Increased padding */
    font-size: 18px;
}

.ticket-button {
  margin-top: 10px;
}

.ticket-button img {
  width: 20px;
  margin-right: 5px;
}
/*-----------------------------------------MOVIES PAGE---------------------------------------------*/

